<div class="glass-container auto-width">
  <h2>Bienvenido al Simulador de Fútbol</h2>
  
  <p>Jugar es sumamente fácil:</p>
  <ol>
    <li>Dirigite a <strong>Jugar Partido</strong></li>
    <li>Elegí los 2 equipos</li>
    <li>Elegí cuánto querés que dure el partido</li>
    <li>Y disfrutá (o sufrí) el partido en vivo y en directo!</li>
    <li>En la pestaña <strong>Equipos</strong> podés ver el listado completo de equipos o selecciones con los que podés jugar</li>  
  </ol>
  
  <p><strong>AVISO:</strong> los resultados tienen probabilidades <u>REALISTAS</u>.  
  Si no te gustó un resultado, pedile al 9 de tu equipo que deje de mirar TikTok y se dedique a meter goles ⚽😅</p>
</div>
