body {
  background-image: url('assets/cesped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.glass-container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.auto-width {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}
